@model CapaPresentación.Ciclo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ciclo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervalo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCiclo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
